<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="mlm.eclipse.ide.jsbuilder.internal.JavaScriptNature">
         </run>
      </runtime>
      <builder
            id="mlm.eclipse.ide.jsbuilder.builder">
      </builder>
   </extension>
   <extension
         id="builder"
         name="%builder.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="mlm.eclipse.ide.jsbuilder.internal.JavaScriptBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="marker"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="problemmarker"
         name="%problemmarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="mlm.eclipse.ide.jsbuilder.internal.ToggleNatureHandler"
            id="mlm.eclipse.ide.jsbuilder.toggleNature"
            name="%toggleNatureCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure">
         <command
               commandId="mlm.eclipse.ide.jsbuilder.toggleNature"
               id="toogleNature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
